@using MyBasicTaskManager.Models
@model LoginViewModel
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()
    <i class="fa fa-diamond mb-4" style="font-size:72px;"></i>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    <div class="checkbox mb-3">
        <label>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .title-row{
        display:none;
    }
    .body-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
</style>