@model MyBasicTaskManager.Models.UsersViewModel
<div class="row">
    <div class="col-12">
        <table id="grid-data" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-column-id="Id">ID</th>
                    <th data-column-id="Username">Username</th>
                    <th data-column-id="Email">Email</th>
                    <th data-column-id="NumberOfTasks">Number of tasks</th>
                    <th data-column-id="IsAdmin">Is Admin</th>
                    <th data-column-id="link" data-formatter="link" data-sortable="false">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.NumberOfTasks</td>
                        @if (@user.Roles.Count() > 0)
                        {
                            <td> Yes </td>
                        }
                        else
                        {
                            <td> No </td>
                        }
                        <td>
                            @Html.ActionLink("Clear Data", "ClearData", "Users", routeValues: new { Id = user.Id  }, htmlAttributes: new { @class = "btn btn-outline-secondary" })
                            @Html.ActionLink("Edit", "UserForm", "Users", routeValues: new { IsExisting = true, Id = user.Id }, htmlAttributes: new { @class = "btn btn-outline-secondary" })
                            @if (@user.Id != Model.CurrentUserId)
                            {
                                @Html.ActionLink("Delete", "DeleteUser", "Users", routeValues: new { Id = user.Id }, htmlAttributes: new { @class = "btn btn-outline-secondary" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $("#grid-data").bootgrid();
    });
</script>