<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datagrid")

</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a href="#" class="py-2 d-none d-md-inline-block" style="padding: 4px !important;" title="My Basic Task Manager" data-toggle="tooltip"><i class="fa fa-diamond" style="font-size:30px"></i></a>
                @Html.ActionLink("Start", "Index", "Home", new { area = "" }, new { @class = "py-2 d-none d-md-inline-block" })
                @Html.ActionLink("Tasks", "Index", "Tasks", new { area = "" }, new { @class = "py-2 d-none d-md-inline-block" })
                @Html.ActionLink("Statistics", "Index", "Statistics", new { area = "" }, new { @class = "py-2 d-none d-md-inline-block" })
                @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "py-2 d-none d-md-inline-block" })
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid body-content" style="padding:20px 100px">
            <div class="row">
                <div class="col-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
            </div>
            @RenderBody()
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Michał Pacanowski <i class="fa fa-copyright"></i> 2019</span>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
